<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a href="index.html" class="text-black"><span class="text-primary">Cargo</span></a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="index.html#home-section" class="nav-link">Home</a></li>
                        <li><a href="#services-section" class="nav-link">Services</a></li>


                        <li class="has-children">
                            <a href="index.html#about-section" class="nav-link">About Us</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="https://free-template.co" target="_blank" class="nav-link"><span class="text-primary">More Free Templates</span></a></li>
                                <li><a href="index.html#team-section" class="nav-link">Team</a></li>
                                <li><a href="index.html#pricing-section" class="nav-link">Pricing</a></li>
                                <li><a href="index.html#faq-section" class="nav-link">FAQ</a></li>
                                <li class="has-children">
                                    <a href="#">More Links</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="index.html#why-us-section" class="nav-link">Why Us</a></li>

                        <li><a href="index.html#testimonials-section" class="nav-link">Testimonials</a></li>
                        <li><a href="index.html#blog-section" class="nav-link">Blog</a></li>
                        <li><a href="index.html#contact-section" class="nav-link">Contact</a></li>
                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>