
<!doctype html>
<html lang="en">

  <head>
    <title>Cargo &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/cargoTheme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/cargoTheme/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/cargoTheme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/cargoTheme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/cargoTheme/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/cargoTheme/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/cargoTheme/css/style.css">
    <style>
        .gamze{
            
        }

    </style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">wissen503@bau.com</span></a>
              <span class="mx-md-2 d-inline-block"></span>
                        <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">(0212) 381 50 00</span></a>


                        <div class="float-right">

                            <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                            <span class="mx-md-2 d-inline-block"></span>
                            <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center position-relative">


                    <div class="site-logo">
                        <a href="index.html" class="text-black"><span class="text-primary">KARGOMENTO</span></a>
                    </div>

                    <div class="col-12">
                        <nav class="site-navigation text-right ml-auto " role="navigation">

                            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                                <li><a href="index.html#home-section" class="nav-link">ANASAYFA</a></li>
                                <li><a href="#services-section" class="nav-link">HİZMETLER</a></li>


                                <li class="has-children">
                                    <a href="" class="nav-link">HAKKIMIZDA</a>
                                    <ul class="dropdown">
                                        <li><a href="" class="nav-link">Ekibimiz</a></li>
                                        <li><a href="" class="nav-link">Fiyatlandırma</a></li>
                                        <li><a href="" class="nav-link">Misyonumuz</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="nav-link">GÖRÜŞLERİNİZ</a></li>
                                <li><a href="index.html#blog-section" class="nav-link">BLOG</a></li>
                                <li><a href="index.html#contact-section" class="nav-link">İLETİŞİM</a></li>
                            </ul>
                        </nav>

                    </div>

                    <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>

            @RenderBody()

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-7">
                                <h2 class="footer-heading mb-4">HAKKIMIZDA</h2>
                                <p>Sektörde ilk tercih edilen marka olmak.</p>
                            </div>
                            <div class="col-md-4 ml-auto">
                                <h2 class="footer-heading mb-4">ÖZELLİKLER</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">Hakkında</a></li>
                                    <li><a href="#">Görüşler</a></li>
                                    <li><a href="#">Hizmetler</a></li>
                                    <li><a href="#">Gizlilik</a></li>
                                    <li><a href="#">İletişim</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 ml-auto">

                        <div class="mb-5">
                            <h2 class="footer-heading mb-4">Haberler İçİn Kaydol</h2>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Mail Adresinizi Giriniz..." aria-label="Mail Adresinizi Giriniz..." aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Abone Ol</button>
                                </div>
                            </div>
                        </div>


            <h2 class="footer-heading mb-4">Bİzİ Takİp Edİn</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          
          </div> 
         
        </div> 
      
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">
                <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
                &copy; <script>document.write(new Date().getFullYear());</script> <strong>Tüm Hakları Wissen 503 Sınıfına Aittir.</strong><a href="https://free-template.co/" target="_blank"></a>
              </p>
            </div>
          </div>

                </div>
            </div>
        </footer>

    </div>

    <script src="~/cargoTheme/js/jquery-3.3.1.min.js"></script>
    <script src="~/cargoTheme/js/popper.min.js"></script>
    <script src="~/cargoTheme/js/bootstrap.min.js"></script>
    <script src="~/cargoTheme/js/owl.carousel.min.js"></script>
    <script src="~/cargoTheme/js/jquery.sticky.js"></script>
    <script src="~/cargoTheme/js/jquery.waypoints.min.js"></script>
    <script src="~/cargoTheme/js/jquery.animateNumber.min.js"></script>
    <script src="~/cargoTheme/js/jquery.fancybox.min.js"></script>
    <script src="~/cargoTheme/js/jquery.easing.1.3.js"></script>
    <script src="~/cargoTheme/js/aos.js"></script>
    <script src="~/cargoTheme/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
