@model CargoStatusProcessVM
@{
    ViewData["Title"] = "BetulIndex";
    Layout = "~/Views/Shared/_LayoutCargomento.cshtml";
}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay" style="background-image: url('https://source.unsplash.com/pSyfecRCBQA/1920x780')">
        <div class="container">
            <div class="row align-items-center">
                <img src="~/cargotheme/images/background.png" />
                <div class="col-lg-6">
                    <h1>Merkez Sensİn, Kargon Sen Nasıl İstersen Öyle Gelsİn</h1>
                    <p class="mb-5">Herkesin Çok İşine Gelecek!<a href="https://free-template.co/" target="_blank"></a></p>
                    <form asp-controller="Home" asp-action="CargoStatus" method="get">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Kargo Takip Numaranızı Giriniz" asp-for="CargoId">
                            <input type="submit" class="btn btn-primary text-white px-4" value="ARA">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




